[run]
omit = */env/*,manage.py,*/test*,*/migrations/*,*/apps.py,*/admin.py,*/urls.py,*/wsgi.py,*/asgi.py,*/settings.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ignore python main functions
    if __name__ == .__main__.:

    # Ignore abstract methods and properties
    @abstract
